.place__img-wrap {
  grid-area: img;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: no-repeat center / cover;
  cursor: pointer;
}

.place__img-wrap:hover .place__gif  {
  opacity: 1;
} 