.place__img-wrap {
  grid-area: img;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.place__img-wrap:hover .place__gif  {
  opacity: 1;
} 