.intro__image-wrap {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: url(../../../images/intro-image.jpeg) no-repeat center / cover;
  cursor: pointer;
  transition: .3s;
}

.intro__image-wrap:hover {
  border-radius: 128px;
}