.footer__link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  color: #000;
  font-size: 32px;
  font-weight: 400;
  text-decoration: none;
  transition: .8s;
}

.footer__link:before {
  content: '';
  position: absolute;
  top: -15%;
  left: -10%;
  height: 1px;
  width: 0;
  background: linear-gradient(90deg, rgba(20,20,20,1) 0%, rgba(255, 255, 255, 1) 51%, rgba(20,20,20,1) 100%);
  transition: .8s;
}

.footer__link:after {
  content: '';
  position: absolute;
  bottom: -15%;
  right: -10%;
  height: 1px;
  width: 0;
  background: linear-gradient(90deg, rgba(20,20,20,1) 0%, rgba(255, 255, 255, 1) 51%, rgba(20,20,20,1) 100%);
  transition: .8s;
}

.footer__link:hover {
  transform: scale(.98);
}

.footer__link:hover:before,
.footer__link:hover:after {
  width: 120%;
}