.header__burger-btn_active {
  position: fixed;
  top: 25px;
  right: 16px;
}

.header__burger-btn_active::before {
  transform: rotate(45deg);
  top: 6px;
}

.header__burger-btn_active::after {
  transform: rotate(-45deg);
  bottom: 6px;
}
