.people {
  padding: 125px 70px;
}

@media screen and (max-width: 868px) {
  .people {
    padding: 80px 40px;
    transition: .5s;
  }
}

@media screen and (max-width: 768px) {
  .people {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 630px) {
  .people {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 16px;
  }
}