.header__burger-line {
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 2px;
  transition: .3s;
}

.header__burger-btn:hover .header__burger-line {
  background: #fecda7;
}

.header__burger-btn_active .header__burger-line:nth-of-type(2) {
  display: none;
}

.header__burger-btn_active .header__burger-line:first-child {
  transform: rotate(45deg) translate(1px, 1px);
}

.header__burger-btn_active .header__burger-line:last-child {
  transform: rotate(-45deg) translate(1px, -1px);;
}